<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tyut.homework.webchat.guy.mapper.IGuyMapper">
    <resultMap id="user" type="tyut.homework.webchat.guy.dto.UserGuy">
        <id property="myId" column="my_id"/>
        <id property="guyId" column="guy_id"/>
        <result property="remark" column="remark"/>
        <collection property="guys" ofType="User">
            <result property="nickName" column="nick_name"/>
            <result property="email" column="email"/>
            <result property="photo" column="photo"/>
        </collection>
    </resultMap>
    <select id="guyList" resultMap="user" parameterType="java.lang.String">
        SELECT friend.my_id, friend.remark, `user`.id, `user`.nick_name, `user`.email, `user`.photo
        FROM `user`
        INNER JOIN friend
        ON `user`.id = friend.guy_id
        WHERE (friend.my_id, friend.guy_id) IN (SELECT friend.my_id, friend.guy_id
                                                FROM friend
                                                INNER JOIN `user`
                                                ON friend.my_id = `user`.id
                                                WHERE `user`.nick_name = #{name})
    </select>

    <resultMap id="userSearch" type="tyut.homework.webchat.common.domain.User">
        <id property="id" column="id"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="photo" column="photo"/>
    </resultMap>
    <select id="guySearch" resultMap="userSearch" parameterType="tyut.homework.webchat.common.domain.User">
        SELECT `user`.id, `user`.nick_name, `user`.email , `user`.photo
        FROM `user`
        <where>
            <choose>
                <when test="nick_name != null and nick_name != '' ">
                    nick_name like concat('%',#{nickName},'%')
                </when>
                <when test="id != null and id != '' ">
                    id = #{id}
                </when>
                <when test="email != null and email != '' ">
                    email = #{email}
                </when>
            </choose>
        </where>
    </select>

</mapper>